<ion-view>
	<ion-nav-title>{{ achievementDetailCTRL.title }}</ion-nav-title>
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear ion-ios-download-outline" ng-click="achievementDetailCTRL.openPopup()"></button>
	</ion-nav-buttons>
	<ion-tabs class="tabs-stable tabs-top tabs-icon-top">
		<ion-tab title="Sem Spoiler" icon-on="ion-ios-eye calm" icon-off="ion-ios-eye-outline">
			<ion-view>
				<ion-content>
					<div class="card">
						<div class="item item-divider dark-bg stable">
							<i class="ion-ios-paper-outline"></i> Descrição
						</div>
						<div class="item item-text-wrap">
							<p>{{ achievementDetailCTRL.description }}</p>
						</div>
					</div>
					<div class="card">
						<div class="item item-divider dark-bg stable">
							<i class="ion-ios-information-outline"></i> Dicas
						</div>
						<div class="item item-text-wrap">
							<p ng-repeat="tip in achievementDetailCTRL.tips">{{ $index + 1 }}. {{ tip.description }}</p>
						</div>
					</div>
				</ion-content>
			</ion-view>
		</ion-tab>
		<ion-tab title="Com Spoiler" icon-on="ion-ios-eye assertive" icon-off="ion-ios-eye-outline">
			<ion-view>
				<ion-content>
					<div class="card">
						<div class="item item-divider dark-bg stable">
							<i class="ion-ios-paper-outline"></i> Descrição
						</div>
						<div class="item item-text-wrap">
							<p>{{ achievementDetailCTRL.description }}</p>
						</div>
					</div>
					<div class="card">
						<div class="item item-divider dark-bg stable">
							<i class="ion-ios-list-outline"></i> Passo a passo
						</div>
						<div class="item item-text-wrap">
							<p ng-repeat="step in achievementDetailCTRL.steps">{{ $index + 1 }}. {{ step.description }}</p>
						</div>
					</div>
				</ion-content>
			</ion-view>
		</ion-tab>
	</ion-tabs>
	
</ion-view>
