<ion-popover-view>
	<ion-header-bar>
		<h2 class="title">Mostrar</h1>
	</ion-header-bar>
	<ion-content>
		<ion-radio ng-model="achievementCTRL.filter" ng-click="achievementCTRL.closePopover()" ng-value="'undone'">Faltando</ion-radio>
		<ion-radio ng-model="achievementCTRL.filter" ng-click="achievementCTRL.closePopover()" ng-value="'done'">Conquistados</ion-radio>
		<ion-radio ng-model="achievementCTRL.filter" ng-click="achievementCTRL.closePopover()" ng-value="1">Secretos</ion-radio>
		<ion-radio ng-model="achievementCTRL.filter" ng-click="achievementCTRL.closePopover()" ng-value="''" checked>Todos</ion-radio>
	</ion-content>
</ion-popover-view>