<ion-view>
	<ion-nav-title>{{ achievementCTRL.title }}</ion-nav-title>

	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear ion-more" ng-click="achievementCTRL.openPopover( $event )"></button>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<ion-list>
			<ion-item class="item-avatar" ng-repeat="achievement in achievementCTRL.objList | orderBy: 'hidden'" 
			                              ng-click="achievementCTRL.redirectDetail( achievement.displayName )" 
			                              ng-show="achievementCTRL.filter ==       '' && achievement.hidden != 1      ||
			                                       achievementCTRL.filter ==       1  && achievement.hidden == 1      ||
			                                       achievementCTRL.filter ==   'done' && achievement.filter == 'done' ||
			                                       achievementCTRL.filter == 'undone' && !achievement.filter"
			                              ng-class="{ balanced : achievementCTRL.achievementColor == true && achievement.filter == 'done',
			                              			  assertive: achievementCTRL.achievementColor == true && achievement.filter == undefined }">
					<img ng-src="{{ achievement.icon }}">
					{{ achievement.displayName }}
					<p>
						<span style="color: rgba( 100, 100, 100, 0.5 )" ng-if="!achievement.hidden">{{ achievement.description }}</span>
						<span style="color: rgba( 100, 100, 100, 0.5 )" ng-if="achievement.hidden">Achievement Secreto</span>
					</p>
			</ion-item>
		</ion-list>
	</ion-content>
	<ion-footer-bar align-title="center" class="row bar-dark">
		<button class="col button button-icon button-clear ion-star" ng-click="achievementCTRL.favorite()"></button>	
	</ion-footer-bar>

</ion-view>

