<ion-view>
	<ion-nav-title>Configurações</ion-nav-title>
	<ion-content>
		<!-- DOWNLOAD DE IMAGENS -->
		<ion-list>
			<ion-item class="item item-divider">
				Download de Imagens
			</ion-item>

			<!-- CHECKBOX -->
			<ion-checkbox class="checkbox-stable" ng-model="configCTRL.photoDataNetwork" ng-click="configCTRL.setConfig()">Quando utilizar rede de dados</ion-checkbox>
			<ion-checkbox class="checkbox-stable" ng-model="configCTRL.photoWifi"		 ng-click="configCTRL.setConfig()">Quando conectado ao Wi-Fi	</ion-checkbox>
		</ion-list>		
		
		<!-- RESULTADOS DAS BUSCAS -->
		<ion-list>
			<ion-item class="item item-divider">
				Resultado das Buscas
			</ion-item>
			<label class="item item-input item-select">
				<div class="input-label">
					Linguagem
				</div>
				<select ng-model="configCTRL.language" ng-change="configCTRL.setConfig()">
					<option value="german">Alemão</option>
					<option value="english">Inglês</option>
					<option value="portuguese">Português Brasil</option>
				</select>
			</label>
		</ion-list>
			<ion-item class="item item-divider">
				Customização
			</ion-item>
			<ion-checkbox class="checkbox-stable" ng-model="configCTRL.achievementColor" ng-click="configCTRL.setConfig()">Diferenciar achievement conquistado</ion-checkbox>
		<ion-list>
		</ion-list>

		<!-- PERFIS -->
		<ion-list>
			<ion-item class="item item-divider">
				Perfis
			</ion-item>

			<!-- LISTA DE PERFIS -->
			<ion-item class="item-avatar" ng-repeat="(key, user) in configCTRL.users" ng-click="configCTRL.changeProfile( user )">
				<img ng-src="{{ user.avatar }}"/>{{ user.name }}
				
				<!-- ICONE DE PERFIL ATUAL -->
				<span ng-show="user.profile == configCTRL.actualUser.profile">
					<i class="icon ion-checkmark-circled balanced"></i>
				</span>

				<!-- DATA DE CRIACAO -->
				<p style="color: rgba( 100, 100, 100, 0.5 )">
					<span>Criado em {{ user.timeCreated | date:'dd/MM/yyyy' }}</span>					
				</p>

				<!-- BOTAO EXCLUIR -->
				<ion-option-button class="ion-close-round button-assertive" ng-click="configCTRL.deleteProfile( key )"></ion-option-button>
			</ion-item>	

			<!-- ADICIONAR NOVO PERFIL -->
			<ion-item class="item-avatar" ng-click="configCTRL.openPopup()">
				<img ng-src="img/defaultUser.jpg">Novo Usuário
				<p>
					<span style="color: rgba( 100, 100, 100, 0.5 )">Clique aqui para adicionar</span>
				</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>