<ion-view>
	<ion-nav-title>Tutoriais Baixados</ion-nav-title>
	<ion-content class="has-header">
		<ion-list ng-hide="!downTutorialCTRL.objList">
			<ion-item class="item-avatar" ng-repeat="lista in downTutorialCTRL.objList" ng-click="downTutorialCTRL.achievementPage(lista.id)">
				<img ng-src="{{ lista.image }}">
				{{ lista.name }} 
				<ion-option-button class="button-royal"><i class="icon ion-edit"></i></ion-option-button>
				<ion-option-button class="button-assertive"><i class="icon ion-close-circled"></i></ion-option-button>
				<p class="subtitle">{{ lista.earned }} de {{ lista.total }} achievements</p>
			</ion-item>
		</ion-list>
		<h4 ng-show="!downTutorialCTRL.objList" class="text-center subtitle pt25">Não há tutoriais baixados</h4>
	</ion-content>
</ion-view>