<ion-view>
	<ion-nav-title>Favoritos</ion-nav-title>
	<ion-content class="has-header">
		<ion-list>
			<ion-item class="item-avatar" ng-repeat="lista in homeCTRL.objList" ng-click="homeCTRL.achievementPage(lista)" ng-init="homeCTRL.getCompletedAchievement(lista); homeCTRL.getTotalAchievement(lista)">
				<img ng-src="{{ lista.image }}">
				{{ lista.name }}
				<p><span style="color: rgba( 100, 100, 100, 0.5 )">{{ lista.earned.length }} de {{ lista.total }} achievements</span></p>
			</ion-item>
		</ion-list>
		<h4 ng-show="homeCTRL.objList.length == 0" class="text-center subtitle pt25">Sem itens nos favoritos, selecione um perfil e favorite um jogo</h4>
	</ion-content>
</ion-view>