<ion-side-menus>
	<!-- MENU ESQUERDO -->
	<ion-side-menu side="left">
		<ion-header-bar class="bar-dark"></ion-header-bar>
		<ion-header-bar class="bar bar-subheader dark-bg">	

			<h1 class="title light">Menu</h1>
		</ion-header-bar>
		<ion-content>
			<!-- LISTA DO MENU -->
			<ion-list>
				<ion-item menu-close ng-click="menuCTRL.redirectFavorite()">
					<i class="icon ion-star"></i>
					Favoritos
				</ion-item>
				<ion-item menu-close ng-click="menuCTRL.redirectDownloads()">
					<i class="icon ion-ios-game-controller-a"></i>
					Tutoriais Baixados
				</ion-item>
				<ion-item menu-close ng-click="menuCTRL.redirectSearch()">
					<i class="icon ion-search"></i>
					Procurar Tutoriais
				</ion-item>
				<ion-item menu-close ng-click="menuCTRL.redirectConfig()">
					<i class="icon ion-ios-gear"></i>
					Configurações
				</ion-item>
			</ion-list>
	    </ion-content>
	</ion-side-menu>

	<!-- CONTEUDO -->
	<ion-side-menu-content>
		<ion-nav-bar class="bar-dark">
			<ion-nav-back-button></ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>
		</ion-nav-bar>

		<ion-nav-view>
			<ion-view>
			</ion-view>
		</ion-nav-view>
	</ion-side-menu-content>
</ion-side-menus>