<ion-view>
	<ion-nav-title>Procurar Tutoriais</ion-nav-title>	
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear ion-ios-search-strong" ng-click="searchTutorialCTRL.openPopup()"></button>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<ion-list ng-hide="!searchTutorialCTRL.objList">
			<ion-item class="item-avatar" ng-repeat="lista in searchTutorialCTRL.objList" ng-click="searchTutorialCTRL.achievementPage(lista)">
				<img ng-src="{{ lista.image }}">
				{{ lista.name }}
			</ion-item>
		</ion-list>
		<h4 ng-show="!searchTutorialCTRL.objList" class="text-center subtitle pt25">Não há tutoriais localizados</h4>
	</ion-content>
</ion-view>